<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="row">
      This is where the header goes
    </div>
    <div class="row">
      <div class="col-md-4">
        This is the side bar content bruh
      </div>
      <div class="col-md-8">
        this is where the page content goes bruh
      </div>
    </div>
    <!--<nav>-->
      <!--<ul>-->
        <!--<li><a href="/">Home</a></li>-->
        <!--<li><a href="/about">About</a></li>-->
        <!--<li><a href="/cv">CV</a></li>-->
        <!--<li><a href="/blog">Blog</a></li>-->
      <!--</ul>-->
    <!--</nav>-->
    <!--<div class="container">-->
    
    <!--{{ content }}-->
    
    <!--</div>-->
    <!--<footer>-->
      <!--<ul>-->
        <!--<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>-->
        <!--<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>-->
      <!--</ul>-->
    <!--</footer>-->
  </body>
</html>
