<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class=.col-md-12">
          This is where the header goes
        </div>
      </div>
      <div class="row">
        <div class=".col-md-4">
          <img src="http://placekitten.com/200/300" class="img-responsive">
          <div class="panel panel-default">
            <div class="panel-body">
              <ul>
                <li><a href="https://www.lincoln.ac.uk/home/">University of Lincoln Page</li>
                <li><a href="http://lcas.lincoln.ac.uk/wp/">Lincoln Centre for Autonomous Systems (L-CAS) Homepage</li>
              </ul>
            </div>
          </div>
        </div>
        <div class=".col-md-8">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
